html{
    font-family: 'Roboto', sans-serif;
}
#o_titulo{
    font-size: 32pt;
}
#bg{
    background-color: darkgrey;
    max-width: 50vw;
    max-height: 3em;
}
#tam_fix{
    background-color: lightgreen;
}
span{
    font-weight: bold;
    color: red;
    background-color: lightblue;
}