
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

  
.grid-items {
    width: 25em;
    height: 15em;
    background-color:rgb(32, 32, 32);
    margin: 0 auto 1em;
    border-radius: 25px;
    color: whitesmoke;
}

.topo-interno {
    display: flex;
    align-items: center;
}

.topo-interno h6 {
    flex-grow: 1;
    font-size: large;
}

.topo-interno img {
    width: 5em;
}